{% extends 'base.html' %}

{% block content %}
<h3>Calculation Details</h3>
<table style="width:100%">
    <tr>
        <th>Description</th>
        <th>Units</th>
        <th>Values</th>
    </tr>
    <tr>
        <td>Pipe Inside Radius - r1 </td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Pipe Outside Radius - r2 </td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Outer Radius of Coating 1 - r3 </td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Total Pipeline Outside Diameter  </td>
        <td></td>
        <td>94</td>
    </tr>
</table><br><br>

<h3>Calculate Dry Unit Weight</h3>
<table style="width:100%">
    <tr>
        <th>Description</th>
        <th>Units</th>
        <th>Values</th>
    </tr>
    <tr>
        <td>Pipe Inside Radius - r1 </td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Pipe Outside Radius - r2 </td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Outer Radius of Coating 1 - r3 </td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Total Pipeline Outside Diameter  </td>
        <td></td>
        <td>94</td>
    </tr>
</table><br><br>

<h3>Summary of Submerged Weight</h3>
<table style="width:100%">
    <tr>
        <th>Description</th>
        <th>Submerged Weight/Unit Length (lb/ft)</th>
        <th>Subm. Specific Gravity with respect to S.W.</th>
    </tr>
    <tr>
        <td>Installation Empty</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
</table><br><br>

{% endblock %}
